<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <title>formsample</title>
    <link rel="stylesheet" href="./Mypage.css">
  </head>
  <body>
    <div id="form">
      <p class="form-title">SESマイページ</p>
      <form action="post">
        <label>ユーザーID</label>
        <p class="id">
          <input type="text" disabled="disabled" autocomplete="off" placeholder="" class="el-input__inner">
        </p>
          <label>ユーザー名</label>
        <p class="name">
          <input type="text" disabled="disabled" autocomplete="off" placeholder="" class="el-input__inner">
        </p>
       <ui>
        <p class="sub">
          <button type="submit">編集</button>
          <button type="submit">出勤報告</button>
          <button type="submit">退勤報告</button>
          <button type="submit">勤怠一覧</button>
        </p>
       </ui>
      </form>
    </div>
  </body>
</html>