body {

    background: #e6e6e6;
    font-family: "YuGthic","游ゴシック体";
    text-align: center;
    margin: 100px auto ;
    width: auto;    
    height: auto;
 }

 .box {

    background: #ffff;
    width: 500px;
    height: 450px;
    margin: auto ;
 }

<<<<<<< Updated upstream
 h1{

   margin: 0px 0px 100px 0px;

 }
=======
.namae{
   margin-top: -20px;
   text-indent: -0.5em;

 }

 .namaekana{
   margin-top: 30px;
   text-indent: -2.5em;
>>>>>>> Stashed changes

 }

 .email{
   margin-top: 30px;
   text-indent: -2.0em;

 }

 .password{
   margin-top: 30px;
   text-indent: -4.0em;
}


input[type="button"]{
   background-color: #504946;
   color: #e6e6e6;
 }

<<<<<<< Updated upstream
input[type=submit] {
    margin: 100px auto ;
    border: none;
    outline: none;
    display: block;
    line-height: 30px;
    width: 160px;
    text-align: center;
    font-size: 13px;
    color: #fff;
    background-color: #504956;
     border-bottom: 4px solid;
     cursor:pointer; 
=======
.touroku {
   margin-top: 60px;
  margin-right: 80px;

>>>>>>> Stashed changes
  
} 

.cancel{

   margin-top: -27px;
   margin-left: 70px;
    }

   