<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>退勤報告</title>
<link rel="stylesheet" th:href="@{/style5.css}"></head>
<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script> 
<title th:text="#{user.signup.title}"></title>
<body>
    <div class="wrapper">
        
        <div class="header">
         <form th:action="@{/user/complete}" method="post" th:object="${signupForm}"> 
            <h1>退勤入力フォーム</h1>
            <div class="header2">
                <p style="text-align: center">
                <span style="line-height:10px">
                <label for="name">退勤報告</label>
                </span>
                </p>
                
                <p style="text-align: left">
            
            	<label for="name">ユーザーID :123456</label>
            	<br>
            	<label for="name">ユーザー名 :かまきりお</label>
            	</p>


                <input type="hidden" name="userId" value=1>
                
                <input type="hidden" name="attndanceId" value=50>
                <!-- th:value="${attndanceId}"th:value="${userId}" -->

                 <p style="text-align: left">
                <!--<label for="name">出勤日 :</label>
                <input type="text" name="startDate" readonly="readonly" id="startDate" th:field="*{startDate}"><br>-->
                </p>

                <p style="text-align: left">
                <!--<label for="name">出勤時間 :</label>
                <input type="text" name="startTime" readonly="readonly" id="startTime" th:field="*{startDate}"><br>-->
                </p>

                <p style="text-align: left">
                     <!--<label for="status" th:text="*{status}"></label>-->
                <label for="name">退勤ステータス :</label>
                <select class="textlines" name="status">
                	<option value="1">退勤</option>
                	<option value="2">早退</option>
                	<option value="3">その他</option>
                </select>
                </p>

                <p style="text-align: left">
                <label for="name">退勤日 :</label>
                <input type="date" name="endDate" th:object="${signupForm}">
            	<span style="color: red" th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}" ></span>
                </p>
                
                <p style="text-align: left">
                    <!--<label for="endTime" th:text="*{endTime}"></label>-->
                <label for="name">退勤時間 :</label>
                <input type="time" value="18:00" name="endTime" >
                </p>

                
                <p style="text-align: left">
                    <!--<label for="breakTime" th:text="*{breakTime}"></label>-->
                <label for="name">休憩時間 :</label>
                <input type="number" value="1" min="0" step="0.25" name="breakTime">
                </p>
                
                <p style="text-align: left">
                    <!--<label for="note" th:text="*{note}"></label>-->
               <label for="name">備考 :</label>
                <input type="text" name="note">
                </p>
                

                <button type="reset">キャンセル</button>
                <button type="submit">送信</button>
            </div>
            </form>
        </div>
    </div>
    
</body>
</html>