<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>退勤報告</title>
<link rel="stylesheet" th:href="@{/style5.css}"></head>
<body>
    <div class="wrapper">
        
        <div class="header">
         <form th:action="@{/user/complete}" method="post" th:object="${form}"> 
            <h1>退勤入力フォーム</h1>
            <div class="header2">
                <p style="text-align: center">
                <span style="line-height:10px">
                <label for="name">退勤報告</label>
                </span>
                </p>
                
                <p style="text-align: left">
            
            	<label for="name">ユーザーID :123456</label>
            	<br>
            	<label for="name">ユーザー名 :かまきりお</label>
            	</p>

                <!--<input type="hidden" name="attendanceId" th:value="*{attendanceId}" th:field="*{attendanceId}">-->

                <!--  <p style="text-align: left">
                <span style="line-height:22px">
                <label for="startDate" th:text="#{startDate}">出勤日 :</label>
                <input type="text" th:field="*{stratDate}" readonly="readonly"><br>
                </span>
                </p>-->

                <!--<p style="text-align: left">
                    <label for="startTime" th:text="*{startTime}"></label>
                <label for="name">出勤時間 :</label>
                <input type="text" th:field="*{startTime}" readonly="readonly"><br>
                </p>-->

                <!--<p style="text-align: left">
                    <label for="status" th:text="*{status}"></label>
                <label for="name">退勤ステータス :</label>
                <select class="textlines">
                	<option value="1">退勤</option>
                	<option value="2">早退</option>
                	<option value="3">その他</option>
                </select>
                </p>-->

                <p style="text-align: left">
                <!--<label for="endDate" th:text="*{endDate}"></label>-->
                <label for="name">退勤日 :</label>
                <input type="date" size="30" maxlength="40" name="endDate" >
                </p>
                
                <p style="text-align: left">
                    <!--<label for="endTime" th:text="*{endTime}"></label>-->
                <label for="name">退勤時間 :</label>
                <input type="time" value="18:00" name="endTime">
                </p>

                
                <p style="text-align: left">
                    <!--<label for="breakTime" th:text="*{breakTime}"></label>-->
                <label for="name">休憩時間 :</label>
                <input type="number" value="1" min="0" step="0.25" name="breakTime">
                </p>
                
                <p style="text-align: left">
                    <!--<label for="note" th:text="*{note}"></label>-->
                <label for="name">備考 :</label>
                <input type="text" rows="2" cols="20" name="note">
                </p>
                

                <button type="reset">キャンセル</button>
                <button type="submit">送信</button>
            </div>
            </form>
        </div>
    </div>
    
</body>
</html>