　<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>編集完了</title>
<link rel="stylesheet" th:href="@{/editcomplete.css}">

</head>
<body>
<form method="post" th:action="@{/editcomplete}" name="editcomplete" th:object="${EditForm}">
<div class="wrapper"></div>
        <div class="header">
          <h1>完了画面</h1></div>
            <div class="header2"> </div>
            
                <p style="text-align: center">
                <label for="name">登録完了しました。</label>
            	</p>
                <button type="button" onclick="location.href='http://localhost:8080/Mypage1'">Mypage</button>
                 </form>
           
           </body>
          
		</html>