<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>退勤報告</title>
<link rel="stylesheet" href="/style6.css">
</head>
<body>
    <div class="wrapper"></div>
        <div class="header">
          <h1>完了画面</h1></div>
            <div class="header2">
                <p style="text-align: center">
                <label for="name">登録完了しました。</label>
            	</p>
                <button type="button" onclick="location.href='http://localhost:8080/Mypage1'">Mypage</button>
            </div>
           </body>
		</html>