<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thyleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>formsample</title>
    <link rel="stylesheet" th:href="@{/login1.css}" >
  </head>
  <body>
    <div id="form">
      <p style= "justify-content: center;"class="form-title">ログイン</p>
      <form action="post">
        <p>ユーザーID</p>
        <p class="id">
          <input type="id" name="id" />
        </p>
        <p>パスワード</p>
        <p class="pass">
          <input type="password" name="pass" />
        </p>
        <p class="submit">
          <input type="submit" value="サインイン" />
        </p>
      </form>
    </div>
         <div class="form-footer">
          <a href="" class=" text-decoration-none">新規登録はこちら</a>
         </div>
  </body>
</html>